<%- include("../partials/header")%>
<h1>Here Are all the forms</h1>
<%forums.forEach(function(forum){%>
<div>
    <a href="/forum/<%=forum._id%>/thread"><%=forum.Forum_name%></a>
</div>
<%});%>
<a href="/forum/new" class="btn btn-outline-primary">Create A New Forum</a>
<a href="" class="btn btn-outline-danger">Delete a Forum</a>
<%-include("../partials/footer")%>