<%- include("../partials/header")%>
<h1>Here Are all the forms</h1>
<%forums.forEach(function(forum){%>
<div>
    <a href="/forum/<%=forum._id%>/thread"><%=forum.Forum_name%></a>
</div>
<%});%>
<%-include("../partials/footer")%>