<%- include("../partials/header")%>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to IIITG Forums!</h1>
        <p class="lead">Ask create and explore!</p>
        <hr>
        <a class="btn btn-dark btn-lg" href="/signup">Signup</a>
        <a class="btn btn-dark btn-lg" href="/login">Login</a>
        <a class="btn btn-primary btn-lg" href="/forum">Go to Forums</a>
    </div>
</div>
<%-include("../partials/footer")%>